In [1]:
#test.sqlite파일 DB에 사과, 오렌지, 바나나의 이름과 가격을 넣고 추출

import sqlite3

#sqlite 데이터베이스 연결하기
dbpath="test.sqlite"
conn=sqlite3.connect(dbpath)

#테이블을 생성하고 데이터 넣기
cur=conn.cursor() #데이터베이스 조작커서 추출
cur.executescript("""
/*items 테이블이 이미 있다면 제거하기*/
DROP TABLE IF EXISTS items;

/*테이블 생성하기*/
CREATE TABLE items(
    item_id INTEGER PRIMARY KEY,
    name TEXT UNIQUE, 
    price INTEGER
);

/*데이터 넣기*/
INSERT INTO items(name, price)VALUES('Apple',800);
INSERT INTO items(name, price)VALUES('Orange',780);
INSERT INTO items(name, price)VALUES('Banana',430);
""")


#위의 조작을 데이터베이스에 반영
conn.commit()

#데이터 추출하기
cur=conn.cursor()
cur.execute("SELECT item_id, name, price FROM items") #SQL 한 문장 일 때 cur.execute()로 실행가능
item_list=cur.fetchall() # 결과를 전부 추출 가능 / 한개씩 추출하고 싶을때는 cur.fetchone()

#출력하기
for item in item_list:
    print(item)

(1, 'Apple', 800)
(2, 'Orange', 780)
(3, 'Banana', 430)

In [7]:
import sqlite3
 
#데이터베이스 연결
filepath="test2.sqlite"
conn=sqlite3.connect(filepath)

#테이블 생성
cur=conn.cursor()
cur.execute("DROP TABLE IF EXISTS items")
cur.execute("""CREATE TABLE items(
    item_id INTEGER PRIMARY KEY,
    name TEXT, 
    price INTEGER)""")

conn.commit()

#데이터 넣기
cur=conn.cursor()
cur.execute(
    "INSERT INTO items (name, price) VALUES(?,?)",
    ("Orange",5200)
    )
conn.commit()

#여러 데이터 연속으로 넣기
cur=conn.cursor()
data=[("Mango",7700),("Kiwi",4000),("Grape",8000),("Peach",9400),("Persimmon",7000),("Banana",4000)]
cur.executemany(
    "INSERT INTO items(name,price) VALUES (?,?)", data) #? 뒤의 값으로 치환 / 보안 위협을 막을 수 있는 방법

conn.commit()

#4000-7000사이의 데이터 추출하기
cur=conn.cursor()
price_range=(4000,7000) #4000이상을 원한다면 (4000,)
cur.execute(
    "SELECT * FROM items WHERE price>=? AND price <=?", price_range)
fr_list=cur.fetchall()
for fr in fr_list:
    print(fr)

(1, 'Orange', 5200)
(3, 'Kiwi', 4000)
(6, 'Persimmon', 7000)
(7, 'Banana', 4000)

In [3]:
import MySQLdb

conn=MySQLdb.connect(
    user='root',
    passwd='Young8276!',
    host='localhost',
    db='test'
)


cur=conn.cursor()


cur.execute('DROP TABLE items')
cur.execute("""
    CREATE TABLE items(
    item_id INTEGER PRIMARY KEY AUTO_INCREMENT,
    name TEXT, 
    price INTEGER)
    """)

data=[('Banana',300),('Mango',640),('kiwi', 280)]
for dat in data:
    cur.execute("INSERT INTO items (name, price) VALUES(%s,%s)",dat)
    
cur.execute("SELECT * FROM items")
for row in cur.fetchall():
    print(row)

(1, 'Banana', 300)
(2, 'Mango', 640)
(3, 'kiwi', 280)

In [ ]:
#TinyDB
from tinydb import TinyDB, Query

#데이터베이스 연결하기
filepath="test-tynydb.json"
db=TinyDB(filepath)

#기존의 테이블이 있다면 제거
db.purge_table('fruits')

#테이블 생성/추출
table=db.table('fruits')

#테이블에 데이터 추가하기
table.insert({'name':'Banana', 'price':6000})
table.insert({'name':'Orange','price':12000})
table.insert({'name':'Mango','price':8400})

#모든 데이터 추출해서 출력
print(table.all())

#특정 데이터 추출 (Orange 검색)
Item=Query()
res=table.search(Item.name=='Orange')
print('Orange is', res[0]['price'])

#가격이 8000원 이상인 것 추출
print("8000원 이상 : ")
res=table.search(Item.price>=8000)
for it in res:
    print(it['name']," ")